<!DOCTYPE html>
<html>
  <head>
    <title>MyBook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <span class="navbar-brand">My Book</span>
          <ul class="nav">
          <% if user_signed_in? %>
              <%= link_to user_path(current_user) , class:"nav-link" do %>
              <i class="fas fa-home"> Home</i><% end %>
            </li>
            <li class="nav-item">
              <%= link_to users_path , class:"nav-link" do %>
              <i class="fas fa-users"> Users</i><% end %>
            </li>
            <li class="nav-item">
              <%= link_to books_path ,class:"nav-link" do %>
              <i class="fas fa-book-reader"> Books</i><% end %>
            </li>
            <li class="nav-item">
              <%= link_to destroy_user_session_path, method: :delete , class:"nav-link" do %>
              <i class="fas fa-sign-out-alt"> logout</i><% end %>
          <% else %>
            <li class="nav-item">
              <%= link_to "/" , class:"nav-link" do %>
              <i class="fas fa-home"> Home</i><% end %>
            </li>
            <li class="nav-item">
              <%= link_to "/home/about", class:"nav-link" do %>
              <i class="fas fa-link"> About</i><% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_user_registration_path ,class:"nav-link" do %>
              <i class="fas fa-user-plus"> Sign_up</i><% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_user_session_path, class:"nav-link" do %>
              <i class="fas fa-sign-in-alt"> login</i><% end %>
            </li>
          <% end %>
          </ul>
        </div>
      </nav>
    </header>
    <div style="margin-top: 20px;"></div>
    <div class="container">
    <%= yield %>
    </div>
  </body>
</html>
