<!DOCTYPE html>
<html>
  <head>
    <title>MyBook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <span class="navbar-brand">My Book</span>
          <ul class="nav">
          <% if user_signed_in? %>
            <li>
              <%= link_to user_path(current_user) , class:"nav-link" do %>
              <i class="fas fa-home"> Home</i><% end %>
            </li>
            <li class="nav-item">
              <%= link_to users_path , class:"nav-link" do %>
              <i class="fas fa-users"> Users</i><% end %>
            </li>
            <li class="nav-item">
              <%= link_to books_path ,class:"nav-link" do %>
              <i class="fas fa-book-reader"> Books</i><% end %>
            </li>
            <li class="nav-item">
              <%= link_to destroy_user_session_path, method: :delete , class:"nav-link" do %>
              <i class="fas fa-sign-out-alt"> logout</i><% end %>
            </li>
            <li>
            <div class="search-form">
              <%= form_tag(search_path, method: :get) do %>
                <%= text_field_tag 'search[content]' %>
                <%= select_tag 'search[model]', options_for_select({ "User" => "user", "Book" => "book" }) %>
                <%= select_tag 'search[how]', options_for_select({ "完全一致" => "match", "前方一致" => "forward", "後方一致" => "backward", "部分一致" => "partical"  }) %>
                <%= submit_tag '検索', class: "btn btn-primary btn-sm" %>
              <% end %>
              </li>
            </div>

          <% else %>
            <li class="nav-item">
              <%= link_to "/" , class:"nav-link" do %>
              <i class="fas fa-home"> Home</i><% end %>
            </li>
            <li class="nav-item">
              <%= link_to "/home/about", class:"nav-link" , data: {"turbolinks" => false} do %>
              <i class="fas fa-link"> About</i><% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_user_registration_path ,class:"nav-link" do %>
              <i class="fas fa-user-plus"> Sign_up</i><% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_user_session_path, class:"nav-link" do %>
              <i class="fas fa-sign-in-alt"> login</i><% end %>
            </li>
          <% end %>
          </ul>
        </div>
      </nav>
    </header>
    <div style="margin-top: 20px;"></div>
    <div class="container">
    <%= yield %>
    <footer style="float: right; margin-top: 30px">
      <p>2020 OnoS</p>
    </footer>
    </div>
  </body>
</html>
